/* Table body style */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

/* Table header style */
.styled-table thead tr {
    background-color: #4b4b4b;
    color: #ffffff;
    text-align: left;
}

/* Spacing */
.styled-table th,
.styled-table td {
    padding: 5px 16px;
}

/* 
    Borders to separate rows.
    You can comment this section if you don't need borders.
*/
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4b4b4b;
} 

/* Active Row */
.styled-table tbody tr:hover {
    font-weight: bold;
    color: #4b4b4b;
}